<p id="notice"><%= notice %></p>

<h1>Listando Solicitações</h1>

<table>
  <thead>
    <tr>
      <th>Solicitante</th>
      <th>Motivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.requester %></td>
        <td><%= request.reason %></td>
        <td><%= link_to 'Mostrar', request %></td>
        <td><%= link_to 'Editar', edit_request_path(request) %></td>
        <td><%= link_to 'Apagar', request, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Solicitação', new_request_path %>
