<p id="notice"><%= notice %></p>

<p>
  <strong>Solicitação</strong>
  <%= @request.requester %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @request.reason %>
</p>

<%= link_to 'Editar', edit_request_path(@request) %> |
<%= link_to 'Voltar', requests_path %>
