<p id="notice"><%= notice %></p>

<p>
  <strong>Requester:</strong>
  <%= @request.requester %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @request.reason %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
